body{ 
    background-color: #eaebee;
    margin: 0;
    padding: 0;
}

.head{
    background-color: #4266b2;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: center;
}
.fb-icon{
    background-color: white;
    color: #4266b2;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 3px;
    font-weight: bold;
    border-radius: 3px;
}
.box-search{
    border: 1px solid #ccc;
    transition: ease-in-out 0.3s;
}

.box-search:focus{
    outline: none;
    /* width: 400px; */
}
.box-search:hover{
    /* width: 400px; */
    /*  */
}
.txt-hover {
    font-style: italic;
}
.menu-profile img, #img-profile, .a, .b{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.a{
    background-color: green;
    text-align: center;
}
.ml10px{
    margin: 0 0 0 10px;
}
.tag-a{
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
}

.tag-a:hover {
    background-color: rgb(36, 66, 133,1);
}
