body{ 
    background-color: #eaebee;
    margin: 0;
    padding: 0;
}

.head{
    background-color: #4266b2;
    padding: 10px;
}
.fb-icon{
    background-color: white;
    color: #4266b2;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 3px;
    font-weight: bold;
    border-radius: 3px;
}
.box-search{
    border: 1px solid #ccc;
    transition: ease-in-out 0.3s;
}

.box-search:focus{
    outline: none;
    width: 400px;
}
.box-search:hover{
    width: 400px;
}
.txt-hover {
    font-style: italic;
}